*.log
.idea/
*.iml
build/
target/
application.properties
out
.pairs
output
.jruby-container/
.sass-cache/
*.swp
*.swo
.asscache
.slcache
**/Thumbs.db
.gradle
.Rhistory
*.ics
gradle/**.*
gradle
*.tar
*.sh
